<h1>Productos</h1>
<ul>
    {{#each products}}
    <li>{{this.is}} - <strong>{{this.title}}</strong> - ${{this.price}}</li>
    {{/each}}
</ul>

<p><a href="/realtimeproducts"> Ir a ver mis productos</a></p>