<h1> Productos de tienda online</h1>

<ul id="productsList">
    {{#each products}}
    <li id="prod-{{this.id}}">
        <strong>{{this.title}}</strong> - ${{this.price}}
        <button class="del-btn" data-id="{{this.id}}">Eliminar</button>
    </li>
    {{/each}}
</ul>

<h3> Agregar producto</h3>
<form id="addForm"> 
<input name="titulo" placeholder="titulo" required />
<input name="descripcion" placeholder="descripcion" />
<input name="code" placeholder="code" />
<input name="precio" type="number" placeholder="precio" required />
<input name="stock" type="number" placeholder="stock" required />
<input name="categoria" placeholder="categoria" >
<button type="submit" >Agregar </button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>